[Unit]
Description=noip
After=network.target

[Service]
Type=simple
User=pietro
ExecStart=/usr/local/bin/noip2
Restart=on-failure

[Install]
WantedBy=multi-user.target