html,
body {
    margin: 0;
    padding: 0;
    width:320px;
    height:480px;
    background-color:white;
}

body {
    background: linear-gradient(-45deg, rgb(51, 204, 196), #6c3, #09f, #e4e6e5);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

.container {
    height: 100%;
    width: 100%
}

.commands {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #212529;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:disabled {
    cursor:not-allowed;
    opacity: 0.3;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    cursor: pointer;
}

.btn-success,
.btn-success:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}

.clock {
    color: #17D4FE;
    font-size: 13px;
    font-family: Orbitron;
    letter-spacing: 2px;
   width: 85px;
}


.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.hide {
    display:none;
}

