<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="icons.css">
    </head>
<body>
   <div class="container">
    <div class="commands">
        <button id="btnTalk" type="button" class="btn btn-secondary" ><i class="bi bi-mic-mute-fill" style="font-size: 2rem;"></i></button>
        <button id="btnView" type="button" class="btn btn-secondary" ><i class="bi bi-eye-slash-fill" style="font-size: 2rem;"></i></button>
        <button id="btnDoor" type="button" class="btn btn-primary"><i class="bi bi-key-fill" style="font-size: 2rem;"></i></button>
        
    </div>
       <div id="meetFrame">

       </div>
   </div>
</body>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="meetapi.js"></script>
<script type="text/javascript" src="app.js"></script>
<script>
    $( document ).ready(function() {
        const citofono = new Citofono(
            $,
            JitsiMeetExternalAPI,
            io,
            '<%= socketIoUrl %>',
            '<%= remoteControlled %>',
            '<%= username %>')
    });
</script>

</html>